extends layout

block content
    each note in notes
        article.note(data-id=note.id)
            h3= note.title
            p.content= note.content
            p.author= `Автор: ${note.firstName || note.name}`
            if (user && note.isAuthor(user.id))
                nav.btn
                    a.edit(href=`/notes/edit/${note.id}`) Редактировать
                    a.delete(href=`/notes/delete/${note.id}`) Удалить
    else
        p Записей пока нет
